.input {
    box-sizing: border-box;
    min-height: 48px;
    min-width: 120px;
    width: 80%;
    background-color: rgb(13, 13, 18);
    border: 1px solid rgb(89, 85, 85);
    border-radius: 1ch;
    outline: none;
    color:dimgrey;
    margin-top: 24px;
}

.input:focus {
    border-radius: 1ch;
    border-color: azure;
    background-color: aliceblue;
}