@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.wrapper {
    display: grid; /* колоночное отображение;*/
    grid-template-columns: 1fr 3fr 2fr; /* Количество и относительные размеры колонок: 3 колонки, делящие экран 1:3:2 */
    background-color: black; /* */
    height: 100%; 
    /* border: 3px solid green; */
    min-height: inherit;
}

.wrapper > div {
    height: 100%; 
    /* border: 2px solid yellow; */
}

.title {
    font-family: 'Rubik Moonrocks', cursive;
    color: goldenrod;
}

.main_text {
    color:blanchedalmond;
}