.root {
        /* Добавьте следующие стили */
        background-image: url('~/public/images/kekfon.png');
        background-repeat: no-repeat;
        background-size: cover; /* Растянуть изображение на весь элемент */
        background-position: center center; /* Позиционирование изображения по центру */
        height: 100vh; /* Занимать всю высоту экрана */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
}